<notification-sidenav-container>
    <content-toolbar>
        <topnavbar notification>
            <h1>Minhas obras</h1>
            <ul class="navigation-items">
                <li>Visão Geral</li>
                <li>Monitoramento</li>
                <li>Trabalhadores</li>
                <li>Atividades</li>
                <li>Relatórios</li>
                <li>Documentos</li>
                <li>...</li>
            </ul>
        </topnavbar>
    </content-toolbar>


    <div class="body-content">
        <md-tab-group #tabGroup>
            <md-tab id="tab4" label="Monitorar">
                <blueprint></blueprint>
            </md-tab>
            <md-tab id="tab5" label="Mapear Áreas"></md-tab>
            <md-tab id="tab5" label="Wearables/Checkpoints"></md-tab>
        </md-tab-group>
    </div>
</notification-sidenav-container>