<div class="body-content">
    <safety-card #workerData>
        <safety-card-header>dados do trabalhador</safety-card-header>
        <safety-card-content>
            <workers-data [worker]="worker" (cpfUpdated)="getWorkerByCpf($event)"></workers-data>
        </safety-card-content>
    </safety-card>

    <safety-card #qualificationsCard>
        <safety-card-header>habilitações</safety-card-header>
        <safety-card-content>
            <safety-worker-qualifications-form [worker]="worker" (saved)="onQualificationsSaved($event)"></safety-worker-qualifications-form>
        </safety-card-content>
    </safety-card>

    <safety-card #securityData>
        <safety-card-header>dados de segurança</safety-card-header>
        <safety-card-content>
            <security-works [cpf]="cpf"></security-works>
        </safety-card-content>
    </safety-card>


    <safety-card #healthSaved>
         <safety-card-header>dados de saúde</safety-card-header>
        <safety-card-content>
            <healthComponent></healthComponent>
        </safety-card-content>
    </safety-card>
</div>