<safety-card #datailsCard>
    <safety-card-header>dados do trabalhador</safety-card-header>
    <safety-card-content>
        <worker-details-form [worker]="worker" (cpfUpdated)="getWorkerByCpf($event)" (saved)="onDetailsSaved($event)"></worker-details-form>
    </safety-card-content>
</safety-card>

<safety-card #qualificationsCard>
    <safety-card-header>habilitações</safety-card-header>
    <safety-card-content>
        <worker-qualifications-form [worker]="worker" (saved)="onQualificationsSaved($event)"></worker-qualifications-form>
    </safety-card-content>
</safety-card>

<safety-card #securityCard>
    <safety-card-header>dados de segurança</safety-card-header>
    <safety-card-content>
        <security-works-form [worker]="worker" (saved)="onSecuritySaved($event)"></security-works-form>
    </safety-card-content>
</safety-card>

<safety-card #healthCard>
    <safety-card-header>dados de saúde</safety-card-header>
    <safety-card-content>
        <worker-health-form [worker]="worker" (saved)="onHealthSaved($event)"></worker-health-form>
    </safety-card-content>
</safety-card>