<form class="full-width" #f="ngForm" (ngSubmit)="save(f)" novalidate>
    <div class="form-content">
        <section>
            <md-input-container>
                <input mdInput placeholder="Nome do Empreendimento" [(ngModel)]="construction.name" name="name" required>
            </md-input-container>
            <cep-picker [(cep)]="construction.cep" class="half" (onSearch)="onCepSearch($event)"></cep-picker>
            <md-input-container class="half">
                <input mdInput placeholder="Endereço Completo (Rua, Número, Complemento)"
                        [(ngModel)]="construction.address" name="address"
                >
            </md-input-container>
            <md-input-container class="half">
                <input mdInput placeholder="Número"
                        [(ngModel)]="construction.number" name="number"
                >
            </md-input-container>
            <md-input-container class="half">
                <input mdInput placeholder="Complemento"
                        [(ngModel)]="construction.complement" name="complement"
                >
            </md-input-container>
            <div class="input-text-with-file half">
                <md-input-container>
                    <input mdInput placeholder="CEI"
                            [(ngModel)]="construction.cei" name="cei"
                    >
                </md-input-container>
                <md-icon (click)="fileInput.click()">
                    attach_file
                </md-icon>
                <span class="file-name">{{ fileName }}</span>
                <input #fileInput type="file" (change)="processFile(fileInput.files[0])" [accept]="supportedFileTypes.join(', ')"/>
            </div>
            <construction-status-picker [status]="construction.status" (selected)="onStatusChanged($event)" class="half"></construction-status-picker>
        </section>
        <section>
            <md-input-container>
                <textarea mdInput placeholder="Descrição da Obra"
                        [(ngModel)]="construction.description"
                        name="description"
                        rows="5"
                ></textarea>
            </md-input-container>
            <drop-file class="half" [label]="'Logo da Obra'" [img]="'/assets/plus.svg'" (onChange)="onLogoChange($event)"></drop-file>
        </section>
    </div>
    <div class="form-bottom">
        <button md-raised-button [disabled]="!f.valid">SALVAR E CONTINUAR</button>
    </div>
</form>