<form #form novalidate id="form1" name="form1">
    <worker-skill-form [form]="form" fxLayout fxLayoutAlign="space-around center" [skill]="skill" (removed)="removeSkill(skill)" [(skillNames)]="skillNames"
            *ngFor="let skill of worker.qualifications">
    </worker-skill-form>
    <a class="action" (click)="addSkill()">
        Adicicionar habilitação
    </a>
    <div class="button-default">
        <button type="submit" class="button-default" md-raised-button (click)="saved.emit(worker)">
            Salvar e continuar
        </button>
    </div>
</form>