@import '../../../scss/components/color.scss';

.main-container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: $pale-gray;
}

.title-container,
.card-container {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: space-between;
    padding-top: 18%;
}

.title-container {
    width: 55%;
    background-image: url("../../../assets/login-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    .titles {
        h1 {
            display: inline;
            font-weight: 300;
            font-size: 60px;
            color: $silver;
        }
        h1:first-child {
            border-bottom: 5px solid $grapefruit;
            padding-bottom: 25px;
            padding-left: 18%;
        }
        .description {
            margin-left: 18%;
            padding-top: 30px;
            p {
                font-size: 18pt;
                font-weight: 300;
                line-height: 1.5em;
                color: $silver;
            }
        }
        .sub-description {
            font-size: 14pt;
            a {
                text-decoration: none;
                border-bottom: 1px solid;
                padding-bottom: 1px;
            }
        }
    }
    footer {
        margin-left: 18%;
        margin-bottom: 5%;
        .logo-sesi {
            height: 12px;
        }
        span {
            color: #ABB4B8;
            font-size: 10pt;
            margin-left: 8px;
        }
    }
}

.card-container {
    width: 45%;
    align-items: center;
    md-card {
        width: 60%;
        max-width: 380px;
        min-width: 250px;
        padding: 45px;
        background-color: white;
        text-align: center;
        .card-title {
            h2 {
                margin-bottom: 0;
                font-size: 30px;
                font-weight: 300;
            }
            h5 {
                margin-top: 6px;
                margin-bottom: 45px;
            }
        }
        .form-fields {
            width: 100%;
            md-input-container {
                display: block;
                margin-bottom: 40px;
                md-error {
                    margin-top: 16px;
                    font-family: 'Lato', sans-serif;
                    font-size: 7pt;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
        .form-bottom {
            display: flex;
            justify-content: space-between;
            button {
                background-color: $grapefruit;
                opacity: 1;
                color: white;
                font-size: 12px;
            }
            button[disabled] {
                opacity: 0.5;
            }
            a {
                font-size: 10px;
                font-weight: bold;
                text-align: left;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        display: block;
    }
    .title-container,
    .card-container {
        padding-top: 10%;
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .title-container {
        .titles {
            h1 {
                font-size: 50px;
            }
            h1:first-child {
                border-bottom-width: 4px;
            }
            .description {
                p {
                    font-size: 16pt;
                }
            }
            .sub-description {
                font-size: 12pt;
            }
        }
    }
    .card-container {
        padding-top: 0;
        md-card {
            width: 90%;
            padding: 20px;
        }
    }
}