.main-nav {
    $minimized-width: 65px;
    height: 100vh;
    width: auto;
    max-width: $minimized-width;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 1s ease;
    background-color: #3f3f3f;

    &:hover {
        width: auto;
        max-width: 500px;

        .divisor {
            color: #5d6266 !important;
        }
    }

    header {
        background-color: #de4d4d;
        color: white;
        font-family: 'Lato';
        height: 15vh;
        line-height: 15vh;

        h1 {
            margin: 0;
            font-weight: 300;
            font-size: 1.5em;
            vertical-align: middle;
            padding-right: 0.5em;
        }

        .logo {
            width: $minimized-width;
            display: inline-block;
            text-align: center;
            font-size: 2em;
            font-weight: 900;
            vertical-align: middle;
        }
    }

    ul {
        padding: 0;
        list-style-type: none;

        .divisor,
        .label {
            font-family: 'Lato';
            letter-spacing: 0.5px;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 0.7em;
        }

        .divisor {
            border-bottom: 1px solid #5d6266;
            color: transparent;
            padding: 0 0.5em;
            display: block;
            padding: 1em 0.8em 0.5em;
        }

        i {
            display: inline-block;
            vertical-align: middle;
            width: $minimized-width;
            text-align: center;
            box-sizing: border-box;

            font-size: 1.5em;
        }

        a {
            color: #a2a9ae;
            padding: 0 1em 0 0;
            cursor: pointer;
            text-decoration: none;
            display: block;
            line-height: 3em;
            height: 3em;

            &:hover {
                background-color: #343434;
            }

            &.active {
                color: #de4d4d;
                background-color: #343434;
                border-left: 3px solid #de4d4d;

                i {
                    width: $minimized-width - 3px;
                }
            }
        }
    }
}
