<nav class="main-nav">
  <header>
    <h1><span class="logo">{{logo}}</span>{{company?.fakeName}}</h1>
  </header>
  <ul>
    <li *ngFor="let menuItem of menuItems.main">
      <a [ngClass]="{active: activeRoute(menuItem.route)}" [routerLink]="['/' + menuItem.route]">
        <i class="safety-icn-{{ menuItem.icon }}-svg"></i>
        <span class="label">{{menuItem.label}}</span>
      </a>
    </li>
    <li class="divisor">Cadastros</li>
    <li *ngFor="let menuItem of menuItems.setup">
      <a [ngClass]="{active: activeRoute(menuItem.route)}" [routerLink]="['/' + menuItem.route]">
        <i class="safety-icn-{{ menuItem.icon }}-svg"></i>
        <span class="label">{{menuItem.label}}</span>
      </a>
    </li>
  </ul>
</nav>
