@import '../../../../scss/components/color.scss';

:host {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 200;
}

md-icon {
    color: white;
}

button {
    background-color: #ff4c4c !important;
}
