<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%m%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.home}/logs/logs.log</file>
        <append>true</append>
        <!-- <layout class="ch.qos.logback.classic.PatternLayout">
         <pattern>%d [%thread] %level %mdc %logger{35} - %msg%n</pattern>
       </layout> -->
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss} %c %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>