<div class="grid-container">
    <div class="grid-column">
        <div class="grid-row">
            <div class="grid-row-auto md-icons-align">
                <md-icon *ngIf="skill.overdue" class="danger"> error</md-icon>
                <md-icon *ngIf="skill.overdue === false" class="success"> check_circle</md-icon>
                <md-icon *ngIf="skill.overdue === undefined" class="disabled"> panorama_fish_eye</md-icon>
            </div>
             <md-select
                    #skillName
                    placeholder="Habilitação"
                    required>
                <md-option *ngFor="let skill of skillNames" [value]="skill.id">
                    {{ skill.name }}
                </md-option>
            </md-select> 
            <div class="md-slide-toggle">
                <md-slide-toggle
                        color="warn"
                        [checked]="skill.recycling"
                        (change)="clickRecycling($event)">
                    Reciclagem
                </md-slide-toggle>
                
            </div>
           
           <my-date-picker
                    placeholder="Data da Realização"
                    name="mydate"
                    [options]="myDatePickerOptions"
                    [(ngModel)]="skill.realizationDate"
                    required>
            </my-date-picker>
            <md-input-container>
                <input
                        mdInput
                        placeholder="Peridiocidade"
                        class="periodicity"
                        min="0"
                        type="number"
                        (input)="setPeriodicity($event.target.valueAsNumber)"
                        [ngModel]="skill.periodicity">
                <span mdSuffix>MESES</span>
            </md-input-container>
            <div class="grid-row-75">
                <md-radio-group [(ngModel)]="skill.able">
                    <p>Situação</p>
                    <md-radio-button [value]="true">Apto</md-radio-button>
                    <md-radio-button [value]="false">Inapto</md-radio-button>
                </md-radio-group>
            </div>
            <div class="grid-row-auto align-items">
                <input-file (onFileSelect)="onFileSelect($event)" [accept]="'.doc,.docx,.png,.pdf'"></input-file>
                <a class="action" (click)="removeMyself()">excluir</a>
            </div>
        </div>
    </div>
</div>
