<div class="grid-container">
    <div class="grid-column">
        <div class="grid-row">
            <div class="grid-row-auto md-icons-align">
                <md-icon *ngIf="skill.overdue" class="danger"> error</md-icon>
                <md-icon *ngIf="skill.overdue == false" class="success"> check_circle</md-icon>
                <md-icon *ngIf="skill.overdue == undefined" class="disabled"> panorama_fish_eye</md-icon>
            </div>
            <md-select #skillName required (change)="toggleName(skillName.selected.value)"
                    placeholder="Habilitação">
                <md-option *ngFor="let name of nameList" [value]="name">
                    {{ name }}
                </md-option>
            </md-select>
            <div class="md-slide-toggle">
                <md-slide-toggle color="warn" (change)="clickRecycling($event)">
                    Reciclagem
                </md-slide-toggle>
            </div>
            <my-date-picker name="mydate" [options]="myDatePickerOptions" [ngModel]="skill.validityStart" required
                    (ngModelChange)="setValidityStart($event)"
                    placeholder="Data da Realização">
            </my-date-picker>
            <md-input-container>
                <input class="periodicity" [ngModel]="skill.periodicity" min="0" mdInput type="number"
                        (input)="setPeriodicity($event.target.valueAsNumber)" [disabled]="!skill.validityStart"
                        placeholder="Peridiocidade">
                <span mdSuffix>MESES</span>
            </md-input-container>
            <div class="grid-row-75">
                <md-radio-group [(ngModel)]="skill.isApt">
                    <p>Situação</p>
                    <md-radio-button value="true">Apto</md-radio-button>
                    <md-radio-button value="false">Inapto</md-radio-button>
                </md-radio-group>
            </div>
            <div class="grid-row-auto align-items">
                <input-file (onFileSelect)="onFileSelect($event)" [accept]="'.doc,.docx,.png,.pdf'"></input-file>
                <a class="action" (click)="removeMyself()">excluir</a>
            </div>
        </div>
    </div>
</div>
