@import '../../../../scss/components/color';

.danger     { color: $grapefruit; }
.success    { color: $green-blue; }
.disabled   { color: $cool-grey; }

.md-icons-align {
    align-items: center;
}

.align-items {
    align-items: center;
}

.md-slide-toggle {
    display:         inline-flex;
    justify-content: center;
    align-items:     center;
}