.formModal {
    background-color: #ececec;
    margin-bottom: 15px;
    color: #909090;
}

.formModal:focus{
    background-color: #ececec;
    margin-bottom: 15px;
    color: #909090;
}


.rangeDiv {
    background-color: #f5f5f5;
    width: 10%;
    height: 63px;
    text-align: -webkit-center;
    padding: 23px;
}

.rangeLabel{
  font-size: 17px;
}
