### Java ###
# Compiled class file
*.class
upload-dir/*

# Log file
*.log
*.png
*.jpg
*.jpeg
*.pdf

# Eclipse
.project
.settings/
.classpath

/.gradle/
/bin/
/build/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# MariaDB
mariadb/
