<safety-categorized-list (added)="addNewCategory($event)">
    <safety-categorized-list-item *ngFor="let category of categories; let i = index"
                                  [index]="i"
                                  [name]="category"
                                  (edited)="editCategory($event)"
                                  (removed)="removeCategory($event)">
        <ul>
            <li class="maintenance">
                <safety-maintenance-inline-form></safety-maintenance-inline-form>
            </li>
            <a (click)="addCategory()"></a>
        </ul>
    </safety-categorized-list-item>
</safety-categorized-list>
