<safety-categorized-list (added)="addNewCategory($event)">
    <safety-categorized-list-item *ngFor="let category of categories; let i = index"
                                  [index]="i"
                                  [name]="category"
                                  (edited)="editCategory($event)"
                                  (removed)="removeCategory($event)">
        <ul>
            <li class="maintenance">
                <md-select placeholder="Tipo de Equipamento" (change)="console.log($event.value)" ngModel>
                    <md-option [value]="1">
                        Tipo de equipamento
                    </md-option>
                </md-select>
                <md-input-container>
                    <input mdInput placeholder="Identificação"
                           ngModel name="identification">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Periodicidade"
                           ngModel name="identification">
                </md-input-container>
            </li>
        </ul>
    </safety-categorized-list-item>
</safety-categorized-list>
