<form>
    <div class="grid-container">

        <div class="grid-column">
            <div class="grid-row">
                <md-radio-group>
                    <p>Possoui Sesmt?</p>
                    <md-radio-button value="yes">Sim</md-radio-button>
                    <md-radio-button value="no">Não</md-radio-button>
                </md-radio-group>
                <md-radio-group>
                    <p>Possoui Cipa?</p>
                    <md-radio-button value="yes">Sim</md-radio-button>
                    <md-radio-button value="no">Não</md-radio-button>
                </md-radio-group>
            </div>
        </div>

        <div class="grid-column">
            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="mo...">
                </md-input-container>
                <md-radio-group>
                    <p>Sexo</p>
                    <md-radio-button value="yes">Sim</md-radio-button>
                    <md-radio-button value="no">Não</md-radio-button>
                </md-radio-group>
            </div>
        </div>

        <div class="grid-column-25">
            <div class="grid-row button-default">
                <button md-raised-button>
                    Salvar e continuar
                </button>
            </div>
        </div>

    </div>
</form>
