<topnavbar notification>
    <h1>Minhas obras</h1>
    <ul class="navigation-items">
        <li>
            <a [ngClass]="{active: activeRoute('overview')}" routerLink="/constructions/1/overview">
                <span>Visão Geral</span>
            </a>
        </li>
        <li>
            <a [ngClass]="{active: activeRoute('monitoring')}" routerLink="/constructions/1/monitoring">
                <span>Monitoramento</span>
            </a>
        </li>
        <li>
            <a [ngClass]="{active: activeRoute('emotional-profile')}" routerLink="/constructions/1/emotional-profile">
                <span>Trabalhadores</span>
            </a>
        </li>
        <li><a routerLink="/constructions">Atividades</a></li>
        <li><a routerLink="/constructions">Relatórios</a></li>
        <li><a routerLink="/constructions">Documentos</a></li>
    </ul>
</topnavbar>

<notification-sidenav-container fxFlex>
    <router-outlet></router-outlet>
</notification-sidenav-container>
