 <my-date-range-picker [options]="myDateRangePickerOptionsNormal" (dateRangeChanged)="onDateRangeChanged($event)" (inputFieldChanged)="onInputFieldChanged($event)"
                                     (calendarViewChanged)="onCalendarViewChanged($event)" (dateSelected)="onDateSelected($event)"
                                      [placeholder]="placeholderTxt" showSelectDateText=true></my-date-range-picker>
                                      <!-- [selDateRange]="selectedDateRangeNormal" -->
               <!-- <div class="selectedtext" [ngStyle]="{border: border}">
                   {{selectedTextNormal}}
               </div> -->
