<div fxLayout="column" fxFlex>

    <topnavbar>
        <h1>Cadastro Trabalhador</h1>
    </topnavbar>


    <div class="body-content">
        <workers-data></workers-data>
        <br>
        <safety-card #safetyCard>

            <safety-card-header>
                <span>habilitações</span>
            </safety-card-header>

            <safety-card-content>
                <form novalidate id="form1" name="form1">

                    <skill [skill]="skill" (removed)="removeSkill(skill)" [(skillNames)]="skillNames" *ngFor="let skill of skillList"></skill>

                    <div fxLayout fxLayoutAlign="space-between center">
                        <button md-button (click)="addSkill()">
                                    <span>Adicicionar habilitação</span>
                                </button>

                        <button (click)="saveSkills(safetyCard)" class="save-and-continue" md-raised-button type="submit">
                                    <span>Salvar e continuar</span>
                                </button>
                    </div>

                </form>
            </safety-card-content>
        </safety-card>


        <safety-card>
            <safety-card-header>
                <span>Dados de saúde</span>
            </safety-card-header>
            <safety-card-content>
            </safety-card-content>
        </safety-card>
    </div>
</div>
