<div fxLayout="column" fxFlex>

    <topnavbar>
        <h1>Cadastro Trabalhador</h1>
    </topnavbar>

    <div class="body-content">
        <workers-data  (cpfValue)="cpfValue($event)"></workers-data>
        <br>
        <safety-card #safetyCard>
            <safety-card-header>
                <span>habilitações</span>
            </safety-card-header>
            <safety-card-content>
                <form fxLayout="column" #form novalidate id="form1" name="form1">
                    <skill [form]="form" fxLayout fxLayoutAlign="space-around center" [skill]="skill" (removed)="removeSkill(skill)" [(skillNames)]="skillNames" *ngFor="let skill of skillList"></skill>
                    <div fxFill fxLayout fxLayoutAlign="start center">
                        <a class="action" (click)="addSkill()">
                            Adicicionar habilitação
                        </a>
                    </div>
                    <div fxFill fxLayout fxLayoutAlign="end center">
                        <button (click)="saveSkills(safetyCard)" class="save-and-continue" md-raised-button type="submit">
                            <span>Salvar e continuar</span>
                        </button>
                    </div>
                </form>
            </safety-card-content>
        </safety-card>
        <h1>{{cpf}}</h1>
        <security-works [cpf]="cpf"></security-works>
        <br>
        <safety-card>
            <safety-card-header>
                <span>Dados de saúde</span>
            </safety-card-header>
            <safety-card-content>
            </safety-card-content>
        </safety-card>
    </div>
</div>
