<safety-card>
    <safety-card-header>
        <span>Dados de saúde</span>
    </safety-card-header>
    <safety-card-content>
        <form [formGroup]="myForm" id="formHealth" (submit)="saveHealthComponent(safetyCard)">
            <div class="form-content">
                <table class="table-form">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <md-select formControlName="bloodTypes" placeholder="Tipo Sanguíneo">
                                <md-option *ngFor="let bloodType of bloodTypes" [value]="bloodType.value">
                                    {{bloodType.viewValue}}
                                </md-option>
                            </md-select>
                        </td>
                        <td>
                            <md-input-container>
                                <input mdInput placeholder="Alergias">
                                <md-error *ngIf="myForm.controls.allergies.hasError('onlytext')">São permitidos apenas letras.
                                </md-error>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <input mdInput placeholder="Doenças Existestes">
                            </md-input-container>
                        </td>
                    </tr>
                </table>
            </div>
                 <div class = "aling-div" *ngFor="let aso of asoList">
                        <div>
                            <md-select formControlName="asoTypes" placeholder="aso">
                                <md-option *ngFor="let asoType of asoTypes" [value]="asoType.value" >
                                    {{asoType.viewValue}}
                                </md-option>
                            </md-select>
                        </div>
                            <div >
                                <asoItemComponent></asoItemComponent>
                            </div>
                    </div>
            <div fxFill fxLayout fxLayoutAlign="start right">
                <a class="action" (click)="addAso()">
                    Adicicionar ASO
                </a>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button class="save-and-continue" md-raised-button type="submit">
                    <span>Salvar e continuar</span>
                </button>
            </div>
        </form>
    </safety-card-content>
</safety-card>