::-webkit-input-placeholder { color:red; }
table{ border-collapse: separate; border-spacing: 8px;  }
td textarea { border: none; }
md-select /deep/ .mat-select-trigger { font-size: 14px; }
md-option  {  font-size: 14px; }


table{ border-collapse: separate; border-spacing: 8px;  }
td textarea { border: none; }

.drop-container {
    padding: 40px 0;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #313d4f;
    margin-top: 20px;
    background: #273142;
}



.exampleFullWidth { width: 100%;}
.fullWidth{ width: 100%;}
.mat-input-suffix {   margin-left: 10px; }
.maxWidthCipaLabor{   min-width: 250px; }
.maxWidthSimNao{  min-width: 190px; }
.personalData {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 2em;
}

.mat-input-suffix {
    margin-left: 10px;
}

.quarter_screen {
    display: inline-flex;
  width: 25%;
  flex-wrap: wrap;
}
.rigth { float: right;}
.save-and-continue {    color: white;    background-color: #a1abb0 } //bruno e eu
.screenRemainder {  width: 75%;  flex-wrap: wrap; }
.spacer {    flex: 1 1 auto;}

/deep/ .textColumn{  flex-direction: column;  justify-content: flex-start;}
