/*
::-webkit-input-placeholder {
    color: red;
}

table {
    border-collapse: separate;
    border-spacing: 8px;
}

td textarea {
    border: none;
}

md-select /deep/ .mat-select-trigger {
    font-size: 14px;
}

md-option {
    font-size: 14px;
}

table {
    border-collapse: separate;
    border-spacing: 8px;
}

td textarea {
    border: none;
}

.mat-input-suffix {
    margin-left: 10px;
}

.formato-material {
    width: 100%;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0,0,0,.38);
}

.radio-material {
    margin-bottom: 6px;
}

.select-material {
    margin-bottom: 6px;
}

.full-width {
    width: 100%;
}

.save-and-continue {
    color: white;
    background-color: #a1abb0;
}

.spacer {
    flex: 1 1 auto;
}

/deep/ .textColumn {
    flex-direction: column;
    justify-content: flex-start;
}
@media screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .form-content,
    table,
    tbody,
    td,
    th,
    thead,
    tr {
        display: block;
    }

    .image-upload,
    .table-form {
        width: 100% !important;
    }

    .form-bottom {
        text-align: center;
    }
}
*/
