<safety-card>
    <safety-card-header>próximos vencimentos</safety-card-header>
    <safety-card-content></safety-card-content>
</safety-card>


<div fxLayout fxLayoutAlign="space-between center" class="top-actionbar">
    <div fxLayout fxLayoutAlign="start center">
        <button md-icon-button type="button" (click)="toggleSearch()" fxLayout fxLayoutAlign="center center">
            <md-icon class="search">search</md-icon>
        </button>

        <md-input-container *ngIf="showSearch" class="search-input">
            <input #textFilterInput mdInput floatPlaceholder="never" (input)="filterByText(textFilterInput.value)">
        </md-input-container>

        <md-chip-list>
            <md-chip class="chip" [ngClass]="{ active: !activeFilters.personal }" fxLayout fxLayoutAlign="start center" (click)="toggleActiveFilter('personal')">
                <span>própios</span>
            </md-chip>
            <md-chip class="chip" [ngClass]="{ success: !activeFilters.outsourced }" fxLayout fxLayoutAlign="start center" (click)="toggleActiveFilter('outsourced')">
                <md-icon fxLayout fxLayoutAlign="center center">title</md-icon>
                <span>terceiros</span>
            </md-chip>
        </md-chip-list>
    </div>

    <div fxLayout fxLayoutAlign="end center" class="right-actionbar">
        <md-select [(ngModel)]="selectedOrder" floatPlaceholder="never" class="order">
            <md-option *ngFor="let orderStyle of availableOrders" [value]="orderStyle.code">
                {{ orderStyle.name }}
            </md-option>
        </md-select>

        <button md-icon-button type="button" name="button">
            <md-icon class="actived">list</md-icon>
        </button>
    </div>
</div>

<div class="list-wrapper">
    <div *ngFor="let worker of getFilteredWorkers()">
        <line-worker-detail fxFlex fxLayout fxLayoutAlign="space-between center" [worker]="worker"></line-worker-detail>
    </div>
</div>

<fab mdTooltip="Adicionar trabalhador" mdTooltipPosition="before" (click)="redirectTo('./new')"></fab>
