@import '../../../../scss/components/color.scss';

.top-actionbar {
    padding: 20px 0;
    margin:  5px;

    .right-actionbar {
        & > md-select {
            margin: 0 10px;
        }

        md-icon {
            color: $warm-grey-four;
        }

        .actived {
            color: black;
        }
    }

    .search-input {
        margin-right: 10px;

        & /deep/ .mat-input-wrapper {
            margin: 0 !important;
        }
    }
}

.list-wrapper {
    margin: 0 15px;

    & > div {
        margin: 16px 0;
    }
}

md-chip {
    padding:        3px 10px !important;
    margin:         0 5px !important;
    border-radius:  0 !important;
    font-family:    'Lato', sans-serif;
    font-size:      10px !important;
    font-weight:    900 !important;
    line-height:    1.4;
    letter-spacing: 0.5px;
    text-align:     left;
    text-transform: uppercase;
    outline:        none;
    cursor:         pointer;
}

.order {
    min-width: 150px;

    & /deep/ {
        .mat-select-placeholder,
        .mat-select-value {
            color:          $warm-grey-four;
            text-transform: uppercase;
            font-family:    'Lato', sans-serif;
            font-size:      10px;
            font-weight:    900;
            line-height:    1.4;
            letter-spacing: 0.5px;
            text-align:     left;
        }

        .mat-select-underline {
            display: none !important;
        }
    }
}

.search {
    margin: 0 20px;
    color:  $warm-grey-four;
}

.success {
    background-color: $green-blue !important;
    border:           2px solid $green-blue !important;
    color:            white !important;
}

.active {
    background-color: #5E5E5E !important;
    color:            white !important;
}

.chip {
    background-color: inherit;
    color:            #5E5E5E;
    border:           2px solid #5E5E5E;

    md-icon {
        width:            17px !important;
        height:           17px !important;
        margin-right:     5px;
        font-size:        7.7px;
        background-color: $green-blue;
        color:            white;
    }
}
