:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.with-action {
  width: calc(100% - 28px);
}

md-icon {
  cursor: pointer;
  flex-basis: 0;
}

md-spinner {
  display: block;
  width: 24px !important;
  height: 24px;
  flex-basis: 24px;
}