<div class="form-content">
    <section>
        <div class="search">
            <md-icon>
                search
            </md-icon>
            <md-input-container class="with-action">
                <input mdInput placeholder="BUSCAR POR NOME, CPF OU FUNÇÃO" [(ngModel)]="allSearch"
                       (ngModelChange)="allSearchChange($event)">
            </md-input-container>
        </div>
        <table>
            <tr *ngFor="let c of filteredCollaborators; let i = index"
                (click)="setSelectedToAdd(i)"
                [ngClass]="{selected: selectedToAdd.includes(i)}">
                <td>{{c.name}}</td>
                <td>{{c.cpf}}</td>
                <td>{{c.occupation}}</td>
            </tr>
        </table>
    </section>
    <div class="button-group">
        <button md-button [disabled]="selectedToAdd.length === 0" (click)="addSelected()">
            <md-icon>keyboard_arrow_right</md-icon>
        </button>
        <button md-button [disabled]="selectedToRemove.length === 0" (click)="removeSelected()">
            <md-icon>keyboard_arrow_left</md-icon>
        </button>
    </div>
    <section>
        <div class="search">
            <md-icon>
                search
            </md-icon>
            <md-input-container class="with-action">
                <input mdInput placeholder="BUSCAR POR NOME, CPF OU FUNÇÃO" [(ngModel)]="selectedSearch"
                       (ngModelChange)="selectedSearchChange($event)">
            </md-input-container>
        </div>
        <table>
            <tr *ngFor="let c of filteredSelectedCollaborators; let i = index"
                (click)="setSelectedToRemove(i)"
                [ngClass]="{selected: selectedToRemove.includes(i)}">
                <td>{{c.name}}</td>
                <td>{{c.cpf}}</td>
                <td>{{c.occupation}}</td>
            </tr>
        </table>
    </section>
    <div class="form-bottom">
        <button md-raised-button>SALVAR E CONTINUAR</button>
    </div>
</div>
