<div fxLayout fxFlex fxLayoutAlign="start center" class="construction-site-info">
    <img src="" alt="">
    <md-icon [ngClass]="status">{{statusIcon}}</md-icon>
    <span class="title">Koerich Beiramar Office</span>
    <span class="horizontal-divider">|</span>
    <span class="address">Novo Campeche, Florianópolis - SC</span>
    <span class="horizontal-divider">|</span>
    <span class="sponsor">Responsável: João da Silva</span>
</div>
<div fxLayout fxLayoutAlign="end center" class="tools">
    <div class="">
        <md-icon></md-icon>
        <span></span>
    </div>
    <div class="">
        <md-icon></md-icon>
        <span></span>
    </div>
    <div class="">
        <md-icon></md-icon>
        <span></span>
    </div>
    <md-icon></md-icon>
    <md-icon>edit</md-icon>
</div>
