@import '../../../../../../scss/components/color.scss';

.danger     {color: $grapefruit;}
.success    {color: $green-blue;}
.disabled   {color: $cool-grey;}

.md-icons-align {
    align-items: center;
}

.align-items {
    align-items: center;
}