<md-tab-group *ngIf="service.construction.sectors.length > 0" #tabGroup>
    <md-tab id="tab4" label="Monitorar">
        <area-monitoring [construction]="service.construction"></area-monitoring>
    </md-tab>
    <md-tab id="tab5" label="Mapear Áreas">
        <area-mapping [construction]="service.construction" (updateFloor)="onFloorUpdated($event)"></area-mapping>
    </md-tab>
    <md-tab id="tab5" label="Wearables/Checkpoints"></md-tab>
</md-tab-group>

<p *ngIf="service.construction.sectors.length === 0">Não há setores cadastrados</p>
