$greyish:           #A4A4A4;
$cool-grey:         #A1ABB0;
$silver:            #E8E8E8;
$silver2:           #B8B9B9;
$pale-gray:         #F8FAFB;
$green-blue:        #00BD87;
$grapefruit:        #FF4C4C;

$macaroni:          #EEBA34;
$topaz:             #13AFCB;
$warm-grey-four:    #999999;
$orangey:           #FFBB1A;
$greyish-brown:     #3C3C3C;
$greyish-brown-two: #3c3c3c;
$sunflower:         #FFC315;