$cool-grey:         #A1ABB0;
$grapefruit:        #FF4C4C;
$green-blue:        #00BD87;
$greyish:           #A4A4A4;
$greyish:           #FCFCFC;
$greyish-brown:     #3C3C3C;
$light-gray:        #C3CCCE;

$link:              #888888;

$macaroni:          #EEBA34;
$orangey:           #FFBB1A;
$pale-gray:         #F8FAFB;
$pale-gray2:        #F2F6F7;
$silver:            #E8E8E8;
$silver2:           #B8B9B9;
$sunflower:         #FFC315;
$topaz:             #13AFCB;
$warm-grey-four:    #999999;
