$green-blue: #00bd87;
$grapefruit: #ff4c4c;
$sunflower: #ffc315;
$greyish-brown-two: #3c3c3c;
$warm-grey-four: #999999;
$pale-gray: #f8fafb;
$pale-gray-two: #f2f6f7;
$cool-grey: #a1abb0;
$greyish: #a4a4a4;
$silver: #e8e8e8;
$silver2:#b8b9b9
