.grid-container {
    //border: 1px solid #3C3C3C;

    display: flex;
    -ms-flex: 1;
    -webkit-flex: 1;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    .grid-column,
    .grid-column-min {
        //border: 1px solid #13AFCB;

        width: 100%;
        margin-right: 20px;
        &:first-child {
            margin-bottom: 20px;
        }
        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
        .grid-row {
            //border: 1px solid #4c9fff;

            display: inline-flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            margin-bottom: 20px;
            &:last-child {
                margin-right: 0;
            }
            > * {
                //border: 1px solid #eeba34;

                width: 100%;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }
        .grid-row       {width: 100%;}
        .grid-row-75    {width: 75.5%;}
        .grid-row-50    {width: 50.5%;}
        .grid-row-25    {width: 25.5%;}
        .grid-row-0     {width: auto;}

        .grid-row-75,
        .grid-row-50,
        .grid-row-25,
        .grid-row-0 {
            //border: 1px solid #eeba34;

            display: inline-flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            margin-bottom: 20px;
            &:last-child {
                margin-right: 0;
            }
            > * {
                width: 100%;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
    .grid-column-min {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        flex-shrink: 1;
        -webkit-flex-shrink: 1;
        flex-basis: 22px;
        -webkit-flex-basis: 22px;
    }
}

@media only screen and (min-width: 1301px) and (max-width: 1550px) {.grid-container {display: inline-flex;}}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {.grid-container {display: inline-flex;}}
@media only screen and (min-width: 768px) and (max-width: 1023px) {.grid-container {display: block;}}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .grid-container {
        display: block;
        align-items: center;
        .grid-column,
        .grid-column-min {
            align-items: center;
            .grid-row,
            .grid-row-75,
            .grid-row-50,
            .grid-row-25,
            .grid-row-0 {
                width: auto;
                display: block;
                margin-right: 0;
                align-items: center;
                > * {
                    display: block;
                    width: auto;
                    margin-right: 0;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-right: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 799px) {
    .grid-container {
        display: block;
        align-items: center;
        .grid-column,
        .grid-column-min {
            align-items: center;
            .grid-row,
            .grid-row-75,
            .grid-row-50,
            .grid-row-25,
            .grid-row-0 {
                width: auto;
                display: block;
                margin-right: 0;
                align-items: center;
                > * {
                    display: block;
                    width: auto;
                    margin-right: 0;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-right: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 479px) {
    .grid-container {
        display: block;
        align-items: center;
        .grid-column,
        .grid-column-min {
            align-items: center;
            .grid-row,
            .grid-row-75,
            .grid-row-50,
            .grid-row-25,
            .grid-row-0 {
                width: auto;
                display: block;
                margin-right: 0;
                align-items: center;
                > * {
                    display: block;
                    width: auto;
                    margin-right: 0;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-right: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
