<safety-card toggleDisable>
    <safety-card-header>
        <span>Status de hoje</span>
    </safety-card-header>
    <safety-card-content>
        <div class="totalcolaboradores">
            <p><strong>{{totaldecolaboradores}}</strong><a class="legenda_cinza"> Colaboradores na obra</a></p>
        </div>

        <ul class="emoticons">
            <comp-base-status-dia class="emoticon" [image]="'/assets/icon/rostos/contente/31.png'" [label]="'Contente'" [value]="resultados?.contente"></comp-base-status-dia>
            <comp-base-status-dia class="emoticon" [image]="'/assets/icon/rostos/empolgado/31.png'" [label]="'Empolgado'" [value]="resultados?.empolgado"></comp-base-status-dia>
            <comp-base-status-dia class="emoticon" [image]="'/assets/icon/rostos/irritado/31.png'" [label]="'Irritado'" [value]="resultados?.irritado"></comp-base-status-dia>
            <comp-base-status-dia class="emoticon" [image]="'/assets/icon/rostos/triste/31.png'" [label]="'Triste'" [value]="resultados?.triste"></comp-base-status-dia>
            <comp-base-status-dia class="emoticon" [image]="'/assets/icon/rostos/naoRespondido/31.png'" [label]="'Não respondido'" [value]="resultados?.naoRespondido"></comp-base-status-dia>
        </ul>

    </safety-card-content>
</safety-card>
