<safety-card>
    <safety-card-header>dados da empresa fornecedora</safety-card-header>
    <safety-card-content></safety-card-content>
</safety-card>

<safety-card>
    <safety-card-header>dados do responsável pela empresa</safety-card-header>
    <safety-card-content></safety-card-content>
</safety-card>

<safety-card>
    <safety-card-header>dados do responsável sst</safety-card-header>
    <safety-card-content></safety-card-content>
</safety-card>

<safety-card>
    <safety-card-header>Informações adicionais</safety-card-header>
    <safety-card-content></safety-card-content>
</safety-card>

<safety-card>
    <safety-card-header>dados do contato</safety-card-header>
    <safety-card-content></safety-card-content>
</safety-card>
