@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'components/color.scss';
@import 'components/common/topnavbar.scss';
@import 'components/common/button.scss';
@import 'components/common/input.scss';
@import 'components/common/select.scss';

.grid-container {
    //div {border: 1px solid #00BD87}

    display: flex;
    -ms-flex: 1;
    -webkit-flex: 1;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    .grid-column, .grid-column-min {
        width: 100%;
        &:first-child {
            margin-bottom: 20px;
        }
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        .grid-row {
            width: 100%;
            display: flex;
            -ms-flex: 1;
            -webkit-flex: 1;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            margin-bottom: 20px;
            &:last-child {
                margin-right: 0;
            }
            > * {
                width: 100%;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }
        .grid-row-min {
            width: 50%;
            display: flex;
            -ms-flex: 1;
            -webkit-flex: 1;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            &:last-child {
                margin-right: 0;
            }
            > * {
                width: 100%;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .grid-column-min {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        flex-shrink: 1;
        -webkit-flex-shrink: 1;
        flex-basis: 22px;
        -webkit-flex-basis: 22px;
    }
}

@media only screen and (min-width: 1301px) and (max-width: 1550px) {
    .grid-container {
        display: flex;
        -ms-flex: 1;
        -webkit-flex: 1;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
    .grid-container {
        display: flex;
        -ms-flex: 1;
        -webkit-flex: 1;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
    .grid-container {
        display: block;
    }
}

@media only screen and (min-width: 480px) and (max-width: 799px) {
    .grid-container {
        display: block;
        margin-right: 32px;
        align-items: center;
        .grid-column, .grid-column-min {
            display: block;
            margin-bottom: 20px;
            .grid-row, .grid-row-min {
                display: block;
                margin-bottom: 20px;
                > * {
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .grid-column-min {
            display: block;
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 799px) {
    .grid-container {
        display: block;
        margin-right: 32px;
        align-items: center;
        .grid-column, .grid-column-min {
            display: block;
            margin-bottom: 20px;
            .grid-row, .grid-row-min {
                display: block;
                margin-bottom: 20px;
                > * {
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .grid-column-min {
            display: block;
        }
    }
}

@media only screen and (max-width: 479px) {
    .grid-container {
        display: block;
        margin-right: 32px;
        align-items: center;
        .grid-column, .grid-column-min {
            display: block;
            margin-bottom: 20px;
            .grid-row, .grid-row-min {
                display: block;
                margin-bottom: 20px;
                > * {
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .grid-column-min {
            display: block;
        }
    }
}