<safety-card #constructionData>
    <safety-card-header>dados da obra</safety-card-header>
    <safety-card-content>
        <construction-details-form [construction]="construction" (saved)="onConstructionDetailsSaved($event)"></construction-details-form>
    </safety-card-content>
</safety-card>

<safety-card #managersData>
    <safety-card-header>dados dos responsáveis</safety-card-header>
    <safety-card-content>
        <construction-managers-form [construction]="construction" (saved)="onConstructionManagersSaved($event)"></construction-managers-form>
    </safety-card-content>
</safety-card>

<safety-card #floorData>
    <safety-card-header>plantas</safety-card-header>
    <safety-card-content></safety-card-content>
</safety-card>

<safety-card #goodsData>
    <safety-card-header>maquinas e equipamentos</safety-card-header>
    <safety-card-content>
        <construction-maintenances-form></construction-maintenances-form>
    </safety-card-content>
</safety-card>

<safety-card #workersData>
    <safety-card-header>trabalhadores</safety-card-header>
    <safety-card-content>
        <construction-workers-form></construction-workers-form>
    </safety-card-content>
</safety-card>
