<safety-card-content>
    <div class="message-errors" *ngIf="errorMsg != undefined">
        {{errorMsg}}
    </div>

    <form [formGroup]="helthForm" id="formHealth">

        <div class="grid-container">
            <div class="grid-column">

                <div class="grid-row">
                    <md-select formControlName="bloodTypes" placeholder="Tipo Sanguíneo">
                        <md-option *ngFor="let bloodType of bloodTypes" [value]="bloodType.value">
                            {{bloodType.viewValue}}
                        </md-option>
                    </md-select>
                    <md-input-container>
                        <input mdInput placeholder="Alergias">
                    </md-input-container>
                    <md-input-container>
                        <input mdInput placeholder="Doenças Existestes">
                    </md-input-container>
                </div>

                <div class="grid-row" *ngFor="let aso of asoList">
                    <div class="grid-row-25">


                            <md-select formControlName="asoTypes" required placeholder="aso" (change)="changeSelected(aso, $event)">
                                 <md-option *ngFor="let asoType of asoTypes" [value]="asoType.value">
                                    {{asoType.viewValue}}
                                </md-option>
                            </md-select>
                            <span *ngIf="submitted">
                                <md-error *ngIf="helthForm.controls.asoTypes.hasError('required')">
                                    Campo Obrigatório.
                                </md-error>
                         </span>
                    </div>

                    <div *ngIf="aso.selected >= 0">
                        <asoItemComponent #asoComponent [itemSelected]="aso.selected" [itemName]="aso.name" (removed)="removeAsoItem(aso)" teste="testeBool"></asoItemComponent>
                    </div>

                </div>
                <a class="action" (click)="addAso()">
                    Adicicionar ASO
                </a>
            </div>
        </div>
        <div class="button-default">
            <button md-raised-button type="submit" (click)="saved.emit(worker)">
            <span>Salvar e continuar</span>
        </button>
        </div>
    </form>
</safety-card-content>