@import '../../../../scss/components/color.scss';

span {
    width: 171px;
    height: 14px;    
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 0.78;
    color: $warm-grey-four;    
}

input {
    width: 396px;
    height: 34px;
    background-color: $pale-gray-two;
    border: none;
    margin-bottom: 9px;
    padding: 0 14px;
    outline: 0;
    display: block;

    &:first-of-type {
        margin-top: 13px;
    }

    &:last-child {
        margin-bottom: 0px;
    }

}