.formModal {
    background-color: #ececec;
    margin-bottom: 15px;
    color: #909090;
}

.formModal:focus{
    background-color: #ececec;
    margin-bottom: 15px;
    color: #909090;
}


.rangeDiv {
    background-color: #f5f5f5;
    width: 10%;
    height: 63px;
    text-align: -webkit-center;
    padding: 23px;
}

.rangeLabel{
  font-size: 17px;
}



.tableStyle{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(102, 120, 160, 0.24);
}

.rowStyle{
  height: 40px;
}

.itemStyle{
  border-bottom: solid 1px;
}
.textItemStyle{
  color: #fff;
  padding: 10px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.vincularMetaBtn {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    padding: 1px;
    text-align: left;
}


.palavraChave {
    border: transparent;
    border-bottom: solid 1px #fff;
    border-radius: 0px;
    background-color: transparent;
    margin-bottom: 15px;
}




.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 150px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

div:empty {
  display:none;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

input#ceSearch {
    background-image:url(../../../../assets/icon/png/lupa.png);
    background-repeat: no-repeat;
    text-indent: 20px;
    padding: 13px;
background-position: 98%;
}



.alimentacaoC{background-image:url(../../../../assets/icon/png/ic_alimentação.png);}
.exercicioC{background-image:url(../../../../assets/icon/png/ic_exercicio.png);}
.estresseC{background-image:url(../../../../assets/icon/png/ic_estresse.png);}
.prevencaoC{background-image:url(../../../../assets/icon/png/ic_prevencao.png);}
.relacionamentoC{background-image:url(../../../../assets/icon/png/ic_relacionamento.png);}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:50px;height:50px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
     -webkit-filter:  opacity(.7);
        -moz-filter:  opacity(.7);
             filter:  opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter:  opacity(.9);
       -moz-filter:  opacity(.9);
            filter:  opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
