<safety-list-item [bulkEditable]="true">
    <div fxLayout fxFlex fxLayoutAlign="start center" class="construction-site-info">
        <a routerLink="/constructions/{{construction.id}}">
            <div class="image-wrapper" fxLayout fxLayoutAlign="center center">
                <img *ngIf="construction.image" src="{{construction.image}}" alt="">
            </div>
        </a>
        <i class="status-icon safety-icn-{{ statusIcon }}-svg" [ngClass]="status"></i>
        <span class="title">{{construction.name}}</span>
        <span class="horizontal-divider">|</span>
        <span class="address">{{construction.address}}</span>
        <span class="horizontal-divider">|</span>
        <span class="sponsor">Responsável: {{construction.responsibleEngineer.name || construction.responsibleSafety.name}}</span>
    </div>
    <div fxLayout fxLayoutAlign="end center" class="tools">
        <safety-construction-summary [construction]="construction"></safety-construction-summary>
        <!--<md-icon class="bell" fxLayout fxLayoutAlign="center center">notifications</md-icon>-->
        <md-icon fxLayout fxLayoutAlign="center center" (click)="toEdit.emit(construction)">edit</md-icon>
    </div>
</safety-list-item>
