<div fxLayout="column" fxFlex>
    <topnavbar>
        <h1>Empresas</h1>
        <ul class="navigation-items">
            <li>Geral</li>
            <li>Monitoramento</li>
            <li>Colaboradores</li>
            <li>Atividades</li>
        </ul>
    </topnavbar>
    <div class="body-content">
        <md-tab-group #tabGroup (selectChange)="onSelectChange($event)">
            <md-tab id="tab4" label="Painel Emocional">
                <div class="inRigth">
                    <my-date-picker name="birthDate" [options]="myDatePickerOptions" placeholder="Mês/Ano Desejado"></my-date-picker>
                </div>
                <div fxLayout fxLayoutWrap class="line-spacer">
                    <div fxFlex.lt-lg="100" fxFlex.gt-md="50">
                        <div fxLayout="column" class="column-spacer">
                            <status-dia></status-dia>
                        </div>
                    </div>
                    <div fxFlex.lt-lg="100" fxFlex.gt-md="50">
                        <div fxLayout="column" class="column-spacer">
                            <status-ano></status-ano>
                        </div>
                    </div>
                </div>
                <div fxLayout>
                    <div fxFlex class="column-spacer">
                        <status-trabalhadores fxFlex class=""></status-trabalhadores>
                    </div>
                </div>
            </md-tab>
            <md-tab id="tab1" label="Atividades"></md-tab>
            <md-tab id="tab2" label="Capacitações"></md-tab>
            <md-tab id="tab3" label="Vencimentos"></md-tab>
        </md-tab-group>
    </div>
</div>
