:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 100%;

    & /deep/ .mat-tab-header {
        margin-bottom: 10px;
    }
}

/deep/ .mydp {
    min-width: 20%;
}

.inRigth {
    display: flex;
    justify-content: center;
}

my-date-picker {
    max-width: 200px;

    & /deep/ .selector {
        position: fixed;
        z-index: 100;
    }
}

.column-spacer {
    margin: 10px 20px;
}
