<form #f="ngForm" (ngSubmit)="save(f)" novalidate>
        
    <div class="form-content grid-container">
        <div class="grid-column">
            <div class="grid-row">
                <md-card class="image-upload">
                    <md-card-content>                                                
                    </md-card-content>
                    <md-card-footer>
                        <p>INSIRA A FOTO <br/> DO TRABALHADOR</p>
                    </md-card-footer>
                </md-card>  
                <div class="grid-column-75">
                    <div class="grid-row">
                        <md-input-container>
                            <input mdInput placeholder="CNPJ" [textMask]="{mask: cnpjMask}" name="cnpj">
                        </md-input-container>
                        <md-input-container>
                            <input mdInput placeholder="RAZÃO SOCIAL" name="corporateName">
                        </md-input-container>
                        <md-input-container>
                            <input mdInput placeholder="NOME FANTASIA" name="fakeName">
                        </md-input-container>
                    </div>
                    <div class="grid-row">                        
                        <cnae-picker [(cnaeCode)]="cnaeCode" class="half" (onSearch)="onCnaeSearch($event)"></cnae-picker>
                        <md-input-container>
                            <input mdInput placeholder="DESCRIÇÃO CNAE"
                                        [(ngModel)]="cnaeDescription"
                                        name="cnaeDescription"
                                        [disabled]="true">
                        </md-input-container>
                        <cep-picker [(cep)]="cep" class="half" (onSearch)="onCepSearch(f, $event)"></cep-picker>                        
                    </div>
                    <div class="grid-row">
                        <md-input-container>
                            <input mdInput placeholder="Cidade / Estado"
                                        [(ngModel)]="address" name="address">
                        </md-input-container>
                        <md-input-container>
                            <input mdInput placeholder="NUMERO" name="addressNumber">
                        </md-input-container>
                        <md-input-container>
                            <input mdInput placeholder="COMPLEMENTO" name="address">
                        </md-input-container>
                    </div>
                    <div class="grid-row-25">
                        <md-input-container>
                            <input mdInput placeholder="URL" name="logoUrl">
                        </md-input-container>
                    </div>
                </div>                                     
            </div>
        </div>
    </div>

    <div class="form-bottom button-default">

        <button md-raised-button >SALVAR E CONTINUAR</button>

    </div>

</form>