<form #f="ngForm" (ngSubmit)="save(f)" novalidate enctype="multipart/form-data">
        
    <div class="form-content grid-container">
        <div class="grid-column">
            <div class="grid-row">
                <drop-file class="half" [label]="" 
                        [hasNgContent]="true"
                        [img]="image"
                        [ngContentType]="'companyLog'" 
                        (onChange)="onSelectFile($event)">
                    <md-card class="image-upload">
                        <md-card-content>                                                
                        </md-card-content>
                        <md-card-footer>
                            <p>INSIRA A LOGO <br/> DA EMPRESA</p>
                        </md-card-footer>
                    </md-card>
                </drop-file>                
                <div class="grid-column-75">
                    <div class="grid-row">
                        <md-input-container>
                            <input mdInput placeholder="CNPJ"
                            [(ngModel)]="company.cnpj"
                            [textMask]="{mask: cnpjMask}" name="cnpj">
                        </md-input-container>
                        <md-input-container>
                            <input mdInput placeholder="RAZÃO SOCIAL"
                            [(ngModel)]="company.corporateName"
                            name="corporateName">
                        </md-input-container>
                        <md-input-container>
                            <input mdInput placeholder="NOME FANTASIA"
                            [(ngModel)]="company.fakeName"
                            name="fakeName">
                        </md-input-container>
                    </div>
                    <div class="grid-row">                        
                        <cnae-picker [(cnaeCode)]="cnaeCode" class="half" 
                        (onSearch)="onCnaeSearch($event)"></cnae-picker>
                        <md-input-container>
                            <input mdInput placeholder="DESCRIÇÃO CNAE"
                                        [(ngModel)]="cnaeDescription"
                                        name="cnaeDescription"
                                        [disabled]="true">
                        </md-input-container>
                        <cep-picker [(cep)]="company.cep" class="half" #companyCep
                        (onSearch)="onCepSearch($event)"></cep-picker>                        
                    </div>
                    <div class="grid-row">
                        <md-input-container>
                            <input mdInput placeholder="Cidade / Estado"
                                        [(ngModel)]="addressStreet"
                                        name="addressStreet"
                                        [disabled]="true">
                        </md-input-container>
                        <md-input-container>
                            <input mdInput placeholder="NUMERO"
                            [(ngModel)]="company.addressNumber"
                            name="addressNumber">
                        </md-input-container>
                        <md-input-container>
                            <input mdInput placeholder="COMPLEMENTO"
                            [(ngModel)]="company.addressComplement"
                            name="addressComplement">
                        </md-input-container>
                    </div>
                    <div class="grid-row-25">
                        <md-input-container>
                            <input mdInput placeholder="URL"
                            [(ngModel)]="company.urlDomain"
                            name="urlDomain">
                        </md-input-container>
                    </div>
                </div>                                     
            </div>
        </div>
    </div>

    <div class="form-bottom button-default">

        <button md-raised-button [disabled]="!f.valid">SALVAR E CONTINUAR</button>

    </div>

</form>