<div fxLayout fxLayoutAlign="start center" class="checkbox">
    <md-checkbox color="primary"></md-checkbox>
</div>
<div fxLayout fxFlex fxLayoutAlign="start center" class="provider-info">
    <span class="reason">{{provider.reason}}</span>
    <span class="horizontal-divider">|</span>
    <span class="title">{{provider.title}}</span>
    <span class="horizontal-divider">|</span>
    <span class="cnpj">CNPJ: {{provider.cnpj}}</span>
    <span class="horizontal-divider">|</span>
    <span class="sponsor">Responsável: {{provider.sponsor}}</span>
    <span class="horizontal-divider">|</span>
    <span class="phone">{{provider.phone}}</span>
</div>
<div fxLayout fxLayoutAlign="end center" class="tools">
    <a md-icon-button [routerLink]="'/providers/' + provider.id + '/edit'">
        <md-icon>edit</md-icon>
    </a>
</div>
