<div class="floor-navigation">
    <ul class="sections">
        <li *ngFor="let sectionName of getSections()" class="section">
            <a (click)="toggleSection(sectionName)">
                <span class="name">{{ sectionName }}</span>
                <summary 
                    alerts="{{ summaryBySection(sectionName).alerts }}" 
                    cones="{{ summaryBySection(sectionName).cones }}" 
                    workers="{{ summaryBySection(sectionName).workers }}"></summary>
                <md-icon>keyboard_arrow_down</md-icon>
            </a>
            <ul class="floors" [ngClass]="{ hidden: isSectionHidden(sectionName) }">
                <li class="header">
                    <span>Andares</span>
                    <span>Risco</span>
                </li>
                <li *ngFor="let floor of floors" [ngClass]="{ active: isSelectedFloor(floor.name) }" class="floor"><a (click)="changeFloor(floor)">
                    <span class="name">{{ floor.name }}</span>
                    <summary alerts="{{ floor.alertsNumber() }}" cones="{{ floor.conesNumber() }}" workers="{{ floor.workersNumber() }}"></summary>
                    <risk-graph></risk-graph>
                </a></li>
            </ul>
        </li>
    </ul>
</div>