$warm-grey-four: #999999;

:host {
    width: 100%;
    background-color: white;
}

.mat-toolbar {
    font-size: 16px;
    background-color: white;

    & /deep/ h1 {
        font-family: "Lato";
        font-size: 24px;
        font-weight: 300;
        line-height: 0.58;
        color: $warm-grey-four;
    }
}

.mat-toolbar /deep/ .mat-toolbar-layout {
    width: 100%;
}

.avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    flex-shrink: 0;
}

.main-toolbar {
    height: 8em;
    line-height: 8em;
}

.main-toolbar /deep/ md-toolbar-row {
    padding-left: 20px;
    height: 8em !important;
}
