$pale-gray: #f8fafb;
$warm-grey-four: #999999;

:host {
    display: flex;
    flex-direction: column;
}

md-card.custom-header {
    padding: 0 !important;

    > *:not(md-toolbar) {
        padding: 24px;
    }
}

md-card {
    flex-grow: 1;
}

.no-padding {
    padding: 0 !important;
}

.mat-toolbar {
    background-color: $pale-gray;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    font-weight: 900;
    line-height: 1.4;
    text-align: left;
    color: $warm-grey-four;
}

md-card-content {
    height: 100%;
    overflow: scroll;
}

:host /deep/ md-toolbar-row {
    height: 50px !important;
}
