$pale-gray: #f8fafb;
$warm-grey-four: #999999;

:host {
    display: flex;
    flex-direction: column;
}

md-card.custom-header {
    padding: 0 !important;

    > *:not(md-toolbar) {
        padding: 24px;
    }
}

md-card {
    overflow: hidden;
}

.mat-toolbar {
    min-height: 50px;
    background-color: $pale-gray;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 10px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.5px;
    text-align: left;
    color: $warm-grey-four;
}

md-card-content {
    height: 100%;
    overflow: hidden;
}

:host /deep/ md-toolbar-row {
    height: 50px !important;
}
