<div fxLayout="row" fxLayoutAlign="space-around center">
    <section fxLayout="column" fxLayoutAlign="space-around center">
        <md-select id="mapping" placeholder="Tipo De Risco" floatPlaceholder="never" class="no-underline">
            <md-option *ngFor="let type of types" [value]="permission.value">{{permission.viewValue}}</md-option>
        </md-select>
        <md-select id="mapping" placeholder="Grau" floatPlaceholder="never" class="no-underline">
            <md-option *ngFor="let type of types" [value]="permission.value">{{permission.viewValue}}</md-option>
        </md-select>
        <md-select id="mapping" placeholder="Fator De Risco" floatPlaceholder="never" class="no-underline">
            <md-option *ngFor="let type of types" [value]="permission.value">{{permission.viewValue}}</md-option>
        </md-select>
    </section>
    <section fxLayout="column" fxLayoutAlign="center center">    
        <span>Tipo</span>
           <ul class="type">
               <li class="chemical">
                  <ul class="size">
                     <li class="low"></li>
                     <li class="medium active"></li>
                     <li class="high"></li>
                  </ul>
               </li>       
           </ul>    
        <span>Grau</span>        
    </section>
    <button class="close" md-icon-button>
        <md-icon>clear</md-icon>
    </button>
</div>