@import '../color.scss';

.big-button {
    display: block;
    padding: 1em 3em;
    background-color: $grapefruit;
    text-transform: uppercase;
    margin: auto;
    color: white;
    text-decoration: none;
    max-width: 200px;
    cursor: pointer;

    &:hover {
        background-color: darken($grapefruit, 5);
    }
}

a.action {
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: $grapefruit;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}

.button-default {
    width: auto;
    text-align: right;
    button {
        opacity: 1;
        background-color: $cool-grey;
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
    }
    button[disabled] {
        opacity: 0.5;
    }
}