.mat-input-container {
    font-family: "Lato", sans-serif !important;

    .mat-input-placeholder {
        text-transform: uppercase;
        color: black !important;
    }

    .mat-input-underline, .mat-input-ripple {
        background-color: black !important;
    }

    .mat-input-suffix {
        color: $greyish;
    }

    .mat-input-underline.mat-disabled {
        background-image: linear-gradient(to right,black 0,black 33%,transparent 0) !important;
    }
}

.no-underline{

    .mat-input-infix {
        border-top: none;
    }

    .mat-input-underline {
        display: none;
    }

    .mat-input-wrapper {
        padding-bottom: 0px;
    }

}

.mapping {
    
    .mat-input-placeholder-wrapper {     
        line-height: 1.27;
        color: $greyish-brown-two;       
    }

}

.mapping-icon {

    .mat-input-placeholder-wrapper {
        top: 0.2em;
        left: 30px;
        font-size: 11px;
        font-weight: bold;
        line-height: 1.27;
        color: $greyish-brown-two;       
    }

    .mat-icon {
        position: relative;
        top: 0.3em;
        width: 1.5em !important;    
        height: 1.5em !important;
        font-size: 20px !important;        
    }
}

.label {
    text-transform: uppercase;
}
