.mat-input-container {
    font-family: "Lato", sans-serif !important;

    .mat-input-placeholder {
        text-transform: uppercase;
        color: black;
    }

    .mat-input-suffix {
        color: $greyish;
    }

    .mat-input-underline {
        border-color: black !important;

        &.mat-disabled {
            background-image: linear-gradient(to right,black 0,black 33%,transparent 0) !important;
        }
    }
}
