@import '../color.scss';

.mat-input-container,
md-error,
md-select,
md-radio-group,
my-date-picker,
md-input-container,
date-range,
input {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: $greyish-brown;
    * {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        color: $greyish-brown;
    }
}

md-error {
    position: relative;
    margin-top: 5px;
    padding-left: 0;
    font-size: 7pt;
    font-weight: bold;
}

.mat-input-container {
    font-size: 10pt;
    .mat-input-wrapper {
        margin-bottom: 0;
    }
    .mat-input-underline,
    .mat-select-underline {
        border-color: $greyish-brown;
    }
    .mat-input-element,
    .mat-input-placeholder.mat-empty,
    .mat-focused .mat-input-placeholder .mat-float,
    .mat-input-placeholder.mat-float {
        font-family: 'Lato', sans-serif;
        color: $greyish-brown;
    }
}

md-select {
    width: 100%;
    min-width: 0;
    display: inline-flex;
    padding-top: 13px;
    .mat-select-placeholder.mat-floating-placeholder {
        top: -16px !important;
    }
    .mat-select-trigger {
        width: 100%;
        height: auto;
        display: inline-flex;
    }
    .mat-select-trigger .mat-select-placeholder,
    md-select .mat-select-trigger .mat-select-placeholder,
    .mat-select-value-text {
        padding-left: 0;
        font-size: 10pt;
        font-family: 'Lato', sans-serif;
        color: $greyish-brown;
    }
    .mat-select-arrow,
    .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow,
    .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
        color: $grapefruit !important;
    }
    .mat-select-underline {
        background-color: $greyish-brown;
    }
    .mat-select-placeholder {
        padding-bottom: 5px;
    }
}

.mat-option.mat-selected.mat-primary,
.mat-primary .mat-option.mat-selected {
    color: $grapefruit !important;
}

.mat-option {
    height: 38px !important;
    line-height: 38px !important;
    font-size: 10pt !important;
    text-transform: uppercase;
    border-bottom: 1px solid #F5F5F5;
}

.cdk-overlay-pane {
    margin-top: 40px;
}

md-radio-group {
    min-height: 51px;
    display: inline-block;
    flex-wrap: wrap;
    align-items: flex-start;
    p {
        width: 100%;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 4px;
        color: $greyish-brown;
        font-size: 10px;
    }
    md-radio-button {
        padding-right: 15px;
    }
    .mat-radio-label-content {
        align-self: center;
        color: $greyish-brown;
        font-size: 9pt;
        padding-top: 1.5px;
    }
    .mat-radio-inner-circle {
        background-color: $grapefruit;
    }
    .mat-radio-outer-circle {
        border-color: #D0D0D0;
    }
    .mat-radio-checked .mat-radio-outer-circle {
        border-color: $grapefruit;
    }
}

my-date-picker {
    .mydp * {
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        color: $greyish-brown;
    }
    .mydp .invaliddate {
        border-bottom: 2px solid #f44336 !important;
    }
    .mydp .selection {
        padding-left: 0;
        color: $greyish-brown;
    }
    .mydp,
    .mydp .headertodaybtn,
    .mydp .selection,
    .mydp .selectiongroup,
    .mydp .selector {
        border-width: 0 0 1px 0;
        border-radius: 0;
        border-color: $greyish-brown;
        background-color: transparent;
    }
    .mydp .btnclear,
    .mydp .btndecrease,
    .mydp .btnincrease,
    .mydp .btnpicker {
        width: 30px;
        border-radius: 0;
        background-color: white;
    }
    .mydp .btnclear {
        &:hover {
            background-color: #FF9999;
            .icon-mydpremove {
                color: white;
            }
        }
    }
    .mydp .icon-mydpdown,
    .mydp .icon-mydpleft,
    .mydp .icon-mydpright,
    .mydp .icon-mydpup {
        color: $grapefruit;
    }
}

date-range {
    .mydrp {
        min-width: 100%;
    }
    .mydrp * {
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        color: $greyish-brown;
    }
    .mydrp .selection {
        padding-left: 0;
        color: $greyish-brown;
    }
    .mydrp .invaliddate {
        border-bottom: 2px solid #f44336 !important;
    }
    .mydrp,
    .mydrp .headertodaybtn,
    .mydrp .selection,
    .mydrp .selectiongroup,
    .mydrp .selector {
        border-width: 0 0 1px 0;
        border-radius: 0;
        border-color: $greyish-brown;
        background-color: transparent;
    }
    .mydrp .btnclear,
    .mydrp .btndecrease,
    .mydrp .btnincrease,
    .mydrp .btnpicker {
        width: 30px;
        background-color: white;
        border-radius: 0;
    }
    .mydrp .btnclear {
        &:hover {
            background-color: #FF9999;
            .icon-mydrpremove {
                color: white;
            }
        }
    }
    .mydrp .icon-mydrpdown,
    .mydrp .icon-mydrpleft,
    .mydrp .icon-mydrpright,
    .mydrp .icon-mydrpup {
        color: $grapefruit;
    }
}