.mat-select {
    font-family: "Lato", sans-serif !important;

    .mat-select-placeholder {
        color: black;
        text-transform: uppercase;
    }

    .mat-select-underline {
        background-color: black !important;
    }

    .mat-select-arrow {
        color: $grapefruit;
    }
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow,
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
    color: $grapefruit !important;
}
