.mat-ink-bar {
    background-color: black !important;
    margin-bottom: 20px !important;
    min-width: auto !important;
}

.mat-tab-label {
    font-family: Lato !important;
    font-size: 10px !important;
    font-weight: 900 !important;
    letter-spacing: 0.5px !important;
    text-align: left !important;
    text-transform: uppercase !important;
    margin-bottom: 20px !important;
    min-width: auto !important;

    &:focus {
        background-color: #e9eced !important;
    }
}

.mat-tab-header {
    border-bottom: none !important;
}
