<div class="overview">
    <div class="column">
        <floors-summary [construction]="service.construction" (change)="onFloorChanged($event)"></floors-summary>
    </div>

    <div class="column">
        <div id="last-alerts">
            <safety-card>
                <safety-card-header>
                    <span>Situação da Obra</span>
                </safety-card-header>
                <safety-card-content>
                    <div class="scrollable">
                            <ul>
                                <list-cell *ngFor="let alert of lastAlerts" 
                                            text="{{alert.text}}" 
                                            time="{{alert.time}}" 
                                            icon="{{alert.icon}}" >
                                </list-cell>
                            </ul>
                    </div>
                </safety-card-content>
            </safety-card>
        </div>

        <div id="constructions-status">
            <constructions-status></constructions-status>
        </div>
        
        <div id="workers">
            <workers-overview></workers-overview>
        </div>
    </div>
    
    <div class="column">
        <div id="forthcoming-maturities">
            <safety-card>
                <safety-card-header>
                    <span>Próximos Vencimentos</span>
                </safety-card-header>
                <safety-card-content>
                    <div class="scrollable">
                            <ul>
                                <list-cell *ngFor="let maturity of forthcomingMaturities"  
                                            text="{{maturity.text}}"
                                            icon="{{maturity.icon}}"
                                            display="right" >
                                </list-cell>
                            </ul>
                    </div>
                </safety-card-content>
            </safety-card>
        </div>
    </div>
    
    <div class="column">
        <div id="forthcoming-trainings">
            <safety-card>
                <safety-card-header>
                    <span>Próximos Treinamentos</span>
                </safety-card-header>
                <safety-card-content>
                    <div class="scrollable">
                            <ul>
                                <list-cell *ngFor="let training of forthcomingTrainings" 
                                            text="{{training.text}}"
                                            display="none">
                                </list-cell>
                            </ul>
                    </div>
                </safety-card-content>
            </safety-card>
        </div>
        
        <div id="tasks">
            <safety-card>
                <safety-card-header>
                    <span>Tarefas</span>
                </safety-card-header>
                <safety-card-content>
                    <div class="scrollable">
                            <ul>
                                <checklist-cell *ngFor="let task of tasks" 
                                            text="{{task.text}}">
                                </checklist-cell>
                            </ul>
                    </div>
                </safety-card-content>
            </safety-card>
        </div>
    </div>
</div>