:host {
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
}

.overview {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    .column {
        margin: 0 10px;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

section-list {
    display: block;
}

safety-card-content {
    overflow: scroll;
}

#last-alerts, #constructions-status, #forthcoming-trainings {
    margin-bottom: 20px;
}

#last-alerts {
    flex-grow: 1;
}

#last-alerts {
    flex-grow: 1;
}

#forthcoming-trainings, #tasks {
    flex-grow: 1;
}