.overview {
    width: 100%;
    display: flex;
    flex-direction: row;


    .column {
        margin: 10px;
        width: 100%;
    }

    .scrollable {
        overflow: scroll;
        width: 108%;
    }
    
}

#last-alerts {
    max-height: 40vh;
    padding-bottom: 100px;
    margin-bottom: 20px;

        display: flex;
        flex-direction: column;
        align-items: stretch;
}


#constructions-status {
    max-height: 25%;    
    margin-bottom: 23px;
}

#workers {
    max-height: 25%;
}

#last-alerts, #constructions-status, #forthcoming-trainings {
    margin-bottom: 20px;

    .scrollable {
        max-height: 30vh;
    }
}

#last-alerts {
    flex-grow: 1;
}

#last-alerts {
    flex-grow: 1;
}

#forthcoming-trainings, #tasks {
    flex-grow: 1;
}