.overview {
    width: 100%;
    display: flex;
    flex-direction: row;


    .column {
        margin: 10px;
        width: 100%;
    }

    .scrollable {
        overflow: scroll;
        width: 108%;
    }
    
}

#last-alerts {
    max-height: 40vh;
    padding-bottom: 100px;
    margin-bottom: 20px;

    .scrollable {
        max-height: 40vh;
    }
}

#constructions-status {
    max-height: 25%;    
    margin-bottom: 23px;
}

#workers {
    max-height: 25%;
}

#forthcoming-maturities {
    .scrollable {
        max-height: 90vh;
    }
}

#forthcoming-trainings {
    max-height: 30vh;
    padding-bottom: 100px;
    margin-bottom: 20px;

    .scrollable {
        max-height: 30vh;
    }
}

#tasks {
    max-height: 45vh;
    padding-bottom: 100px;
    margin-bottom: 20px;

    .scrollable {
        max-height: 45vh;
    }
}