<div ng2FileDrop
     [ngClass]="{'custom-component-drop-zone': hasNgContent !== true}"
     [ng2FileDropSupportedFileTypes]="supportedFileTypes"
     (ng2FileDropFileAccepted)="dragFileAccepted($event)"
     (ng2FileDropFileRejected)="dragFileRejected($event)"
     (click)="showInput()">
    <img [src]="image || '/assets/plus.svg'" 
         [ngClass]="{'hide': hasNgContent === true && !image, 'company-logo': ngContentType}"/>
    <input #fileInput type="file"
            (change)="onFileChange($event)" [accept]="supportedFileTypes.join(', ')"/>
    <ng-content *ngIf="hasNgContent === true && !image"></ng-content>
</div>
<span class="label" *ngIf="label">
    {{label}}
</span>