<span class="label" *ngIf="label">
    {{label}}
</span>
<div ng2FileDrop
     class="custom-component-drop-zone"
     [ng2FileDropSupportedFileTypes]="supportedFileTypes"
     (ng2FileDropFileAccepted)="dragFileAccepted($event)"
     (ng2FileDropFileRejected)="dragFileRejected($event)"
     (click)="showInput()">
     <span *ngIf></span>
    <img [src]="image || img"/>
<!--    <img [src]="image || '/assets/plus.svg'"/>-->
    <input #fileInput type="file" (change)="onFileChange($event)" [accept]="supportedFileTypes.join(', ')"/>
</div>
