<div class="drop-zone" ng2FileDrop
     [ng2FileDropSupportedFileTypes]="supportedFileTypes"
     (ng2FileDropFileAccepted)="dragFileAccepted($event)"
     (ng2FileDropFileRejected)="dragFileRejected($event)"
     (click)="showInput()">
    <img [src]="image" *ngIf="image"
         [ngClass]="{'company-logo': ngContentType}"/>

    <div *ngIf="!image" class="wrapper">
        <div #ref>
            <ng-content></ng-content>
        </div>

        <div *ngIf="ref.children.length == 0" class="placeholder">
            <img src="/assets/plus.svg" alt=""/>
        </div>
    </div>
</div>

<input #fileInput type="file"
       (change)="onFileChange($event)" [accept]="supportedFileTypes.join(', ')"/>
