$drop-zone-size: 90px;
$drop-zone-size-logo: 220px;

.custom-component-drop-zone {
  width: $drop-zone-size;
  height: $drop-zone-size;
  margin: auto;
  box-sizing: border-box;
  border: dashed 2px #f2f6f7;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(black, 0.05);
    border-color: transparent;
  }
}

.label {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    /*color: $warm-grey-four;*/
}

img {
  max-width: $drop-zone-size;
  max-height: $drop-zone-size;

    &.hide {
        display: none;
    }

    &.company-logo {
        max-width: $drop-zone-size-logo;
        max-height: $drop-zone-size-logo; 
    }
}

input {
  display: none
}