<form>
    <div class="form-content grid-container">

        <div class="grid-column-50">
            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="Nome">
                </md-input-container>
            </div>

            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="Telefone">
                </md-input-container>
            </div>
        </div>

        <div class="grid-column">
            <div class="grid-row">
                <div class="grid-row-25">
                    <md-input-container>
                        <input mdInput placeholder="Cargo">
                    </md-input-container>
                </div>
            </div>

            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="Fax">
                </md-input-container>

                <md-input-container>
                    <input mdInput placeholder="E-mail">
                </md-input-container>
            </div>
        </div>

    </div>
    <div class="form-bottom button-default">

        <button md-raised-button>SALVAR E CONTINUAR</button>
        
    </div>
</form>
