<form #f="ngForm" (ngSubmit)="save(f)" novalidate>
    <div class="form-content grid-container">

        <div class="grid-column-50">
            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="Nome" 
                    [(ngModel)]="companyContact.name" name="name">
                </md-input-container>
            </div>

            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="Telefone" 
                    [textMask]="{mask: phoneFaxMask}" 
                    [(ngModel)]="companyContact.phone" name="phone">
                </md-input-container>
            </div>
        </div>

        <div class="grid-column">
            <div class="grid-row">
                <div class="grid-row-25">
                    <md-input-container>
                        <input mdInput placeholder="Cargo" 
                        [(ngModel)]="companyContact.role" name="role">
                    </md-input-container>
                </div>
            </div>

            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="Fax" 
                    [textMask]="{mask: phoneFaxMask}" 
                    [(ngModel)]="companyContact.fax" name="fax">
                </md-input-container>

                <md-input-container>
                    <input id="email" mdInput placeholder="E-mail" 
                    type="email" 
                    [(ngModel)]="companyContact.email" name="email" email>
                </md-input-container>
            </div>
        </div>

    </div>
    <div class="form-bottom button-default">

        <button md-raised-button>SALVAR E CONTINUAR</button>
        
    </div>
</form>
