<form #f="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="save()">
    <safety-categorized-list (added)="addSector($event)" [newCategoryLabel]="'CLIQUE AQUI PARA ADICIONAR UM NOVO SETOR'">
        <safety-categorized-list-item *ngFor="let sector of construction.sectors; let sectorIndex = index"
                                      [name]="sector.name"
                                      [index]="sectorIndex"
                                      (edited)="editSector($event)"
                                      (removed)="removeSector($event)">
            <ul class="floors-crud-list">
                <li *ngFor="let floor of sector.floors; let floorIndex = index" class="floor" ngModelGroup="floor{{floorIndex}}">
                    <md-icon (click)="removeFloor(sectorIndex, floorIndex)">close</md-icon>
                    <drop-file [showPreview]="true" [image]="floor.image || (floor.imagePath | backendPath)"
                               (fileChanged)="blueprintEdited(floor, $event)"></drop-file>
                    <md-input-container>
                        <input mdInput placeholder="Nome do Pavimento"
                               [(ngModel)]="floor.name" name="name{{floorIndex}}"
                               required
                        >
                    </md-input-container>
                    <md-input-container>
                        <input mdInput placeholder="SIGLA (EX: GARAG)"
                               [(ngModel)]="floor.acronym" name="acronym{{floorIndex}}"
                               required
                        >
                        <md-error *ngIf>Este campo é necessário</md-error>
                    </md-input-container>
                </li>
                <li class="floor new">
                    <drop-file [showPreview]="false"
                               (fileChanged)="blueprintAdded(sectorIndex, { name: newFloorName.value, acronym: newFloorAcronym.value }, $event); newFloorName.value = null; newFloorAcronym.value = null;"></drop-file>
                    <md-input-container>
                        <input #newFloorName mdInput placeholder="Nome do Pavimento"
                               name="newName"
                        >
                    </md-input-container>
                    <md-input-container>
                        <input mdInput placeholder="SIGLA (EX: GARAG)"
                               #newFloorAcronym name="newAcronym"
                        >
                    </md-input-container>
                </li>
            </ul>
        </safety-categorized-list-item>
    </safety-categorized-list>

    <div class="form-bottom">
      <button md-raised-button [disabled]="!f.valid">SALVAR E CONTINUAR</button>
    </div>
</form>
