<form class="full-width" (ngSubmit)="save()" #f="ngForm" novalidate>

    <div class="grid-container">

        <div class="grid-column-min">
            <div class="grid-row">
                <md-card class="image-upload">
                    <md-card-content>
                        <img src="" class="md-card-image" alt="">
                    </md-card-content>
                    <md-card-footer>
                        <p>INSIRA A FOTO <br/> DO TRABALHADOR</p>
                    </md-card-footer>
                </md-card>
            </div>
        </div>

        <div class="grid-column">
            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="CNPJ">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="RAZÃO SOCIAL">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="CEP">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="CEP">
                </md-input-container>
            </div>

            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="NOME FANTASIA">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="CNAE">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="DESCRIÇÃO DO CNAE">
                </md-input-container>
            </div>

            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="ENDEREÇO">
                </md-input-container>
                <div class="grid-row-min">
                    <md-input-container>
                        <input mdInput placeholder="COMPLEMENTO">
                    </md-input-container>
                </div>
            </div>

            <div class="grid-row">
                <div class="grid-row-min">
                    <md-input-container>
                        <input mdInput placeholder="URL">
                    </md-input-container>
                </div>
            </div>
        </div>

    </div>

    <div class="grid-column">
        <div class="grid-row">

            <div class="button-default">
                <button md-raised-button [disabled]="!f.valid">
                    Salvar e continuar
                </button>
            </div>

        </div>
    </div>
</form>