<safety-card #safetyCard>
    <safety-card-header  (click)="setDatawithCPF(dateRange)">
        <span>Dados Segurança do Trabalho</span>
    </safety-card-header>
    <safety-card-content>
        <form id="securityForm" [formGroup]="securityForm" (submit)="saveSecurityForm(safetyCard, dateRange)" name="securityForm">
                        <div class="form-content">
                          
                <div class="square">
                    <md-select name="cipeiros" required formControlName="cipeiros"  class="maxWidthSimNao" [(ngModel)]="selectedCipeiro"
                     (ngModelChange)="cipeiroChange(selectedCipeiro, dateRange)" placeholder="Trabalhador é cipeiro?">
                        <md-option *ngFor="let cipeiro of cipeiros" [value]="cipeiro.value">
                            {{ cipeiro.viewValue }}
                        </md-option>
                    </md-select>
                </div>
                <div class="square">
                    <md-select name="laborsInCipa" required formControlName="laborsInCipa" [(ngModel)]="selectedCipaLabor" class="maxWidthCipaLabor" placeholder="Cargo na CIPA">
                        <md-option *ngFor="let labor of laborsInCipa " [value]="labor.value">
                            {{ labor.viewValue }}
                        </md-option>
                    </md-select>
                    <div *ngIf="submitted">
                        <md-error *ngIf="securityForm.controls.laborsInCipa.hasError('required')">Campo Obrigatório.</md-error>
                    </div>
                </div>
                <div class="square">
                    <date-range #dateRange name="data_range"></date-range>
                    <div *ngIf="submitted && invalidDate">
                        <a class="md-error">Campo Obrigatório.</a>
                    </div>
                </div>
                <div class="square">
                    <md-select required name="brigadistas" formControlName="brigadistas" class="maxWidthSimNao" 
                    placeholder="Trabalhador é brigadista?" [(ngModel)]="selectedBrigadista">
                        <md-option *ngFor="let brigadista of brigadistas" [value]="brigadista.value">
                            {{ brigadista.viewValue }}
                        </md-option>
                    </md-select>
                    <div *ngIf="submitted">
                        <md-error *ngIf="securityForm.controls.brigadistas.hasError('required')">Campo Obrigatório.</md-error>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center">
                <button class="save-and-continue" md-raised-button type="submit">
                        <span>Salvar e continuar</span>
                </button>
            </div>
        </form>
    </safety-card-content>
</safety-card>
