<div class="col-md-12">

  <!--  <div *ngFor="let chart of charts" class="client-focus-item-container col-md-2 client-focus-margin" style="margin-right: 15px;">
  <div class="row client-focuss">
      <div class="client-focus-item">
        <div>{{ chart.description }}</div><br />
        <div class="chart " [attr.data-rel]="chart.color" data-percent="60">
          <span class="percent">{{chart.min}}</span>
          <p class="{{ chart.icon }} client-focus-icon"></p>

        </div>
      </div>
  </div>




  </div>-->



</div>

<div class="client-focus-item-container col-md-2 client-focus-margin" style="margin-right: 15px;">
  <div class="row client-focuss">
    <div class="client-focus-item">
      <p>Alimentação</p><br>
      <div class="alimentacao" data-percent="60" data-rel="rgba(255,255,255,0.8)">
        <p class="client-focus-icon ion-android-restaurant "></p>
      <!--  <p>{{minAlimentacao}}</p>-->
      </div>
    </div>
  </div>
</div>

<div class="client-focus-item-container col-md-2 client-focus-margin" style="margin-right: 15px;">
  <div class="row client-focuss">
    <div class="client-focus-item">
      <p>Exercicio</p><br>
      <div class="exercicio" data-percent="60" data-rel="rgba(255,255,255,0.8)">
        <p class="client-focus-icon ion-android-bicycle "></p>
      <!--<p>{{minExercicio}}</p>-->
      </div>
    </div>
  </div>
</div>
<div class="client-focus-item-container col-md-2 client-focus-margin" style="margin-right: 15px;">
  <div class="row client-focuss">
    <div class="client-focus-item">
      <p>Estresse</p><br>
      <div class="estresse" data-percent="60" data-rel="rgba(255,255,255,0.8)">
        <p class="client-focus-icon ion-fireball "></p>
        <!--<p>{{minEstresse}}</p>-->
      </div>
    </div>
  </div>
</div>
<div class="client-focus-item-container col-md-2 client-focus-margin" style="margin-right: 15px;">
  <div class="row client-focuss">
    <div class="client-focus-item">
      <p>Prevenção</p><br>
      <div class="prevencao" data-percent="60" data-rel="rgba(255,255,255,0.8)">
        <p class="client-focus-icon ion-umbrella "></p>
        <!--<p>{{minPrevencao}}</p>-->
      </div>
    </div>
  </div>
</div>
<div class="client-focus-item-container col-md-2 client-focus-margin" style="margin-right: 15px;">
  <div class="row client-focuss">
    <div class="client-focus-item">
      <p>Relacionamento</p><br>
      <div class="relacionamento" data-percent="60" data-rel="rgba(255,255,255,0.8)">
        <p class="client-focus-icon ion-android-favorite-outline "></p>
        <!--<p>{{minRelacionamento}}</p>-->
      </div>


    </div>
  </div>
</div>
