<div class="grid-container">
    <div class="grid-column">
        <div #filePreview class="grid-row" *ngIf="task.attachmentFiles.length > 0">
            <ul class="files-list">
                <li *ngFor="let file of task.attachmentFiles; let fileIndex = index" class="file">
                    <drop-file [showPreview]="true" 
                        (fileChanged)="attachmentFileEdited(task, fileIndex, $event)" [image]="file.resource"></drop-file>
                    <button class="button-link" (click)="removeFile(fileIndex)">Remover</button>
                </li>
            </ul>
        </div>
        <drop-file [showPreview]="false"  (fileChanged)="attachmentFileAdded($event)" class="grid-row grid-row-last">
            <img src="/assets/plus.svg" alt=""/>
                <span><b>Adicionar</b> imagens</span>
                <span>Para adicionar imagens arraste elas ou <a>clique aqui</a></span>
        </drop-file >
    </div>
</div>