.toolbox {
    display: flex;
    width: 100%;
    margin: 0 0 20px 0;
    align-items: center;
    span {
        width: 110px;
        font-size: 10px;
        font-weight: bold;
        line-height: 1.4;
        text-align: left;
        color: #999999;
        text-transform: uppercase;
    }
    .tools {
        width: 100%;
        padding: 0;
        list-style: none;
        overflow: hidden;

        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: stretch;

        li {
            flex-grow: 1;
            flex-basis: 0;

            background-color: #ffffff;
            border-left: 1px solid #e8e8e8;
            box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.05);
            
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                text-decoration: none;
                text-transform: uppercase;
                font-family: Lato;
                height: 54px;
                font-size: 12px;
                font-weight: 900;
                line-height: 1.1;
                letter-spacing: 0.2px;
                color: #999999;
                cursor: pointer;
                word-wrap: break-word;
                img {
                    padding-bottom: 7px;
                }
            }
            
            &:hover {
                background-color: #f5f5f5;
            }
            &.active {
                background-color: #f8fafb;
                box-shadow: inset 0px 2px 7px 0 rgba(0, 0, 0, 0.13);
            }
        }
    }
}