<div class="toolbox">
    <span>Ferramentas: </span>
    <ul class="tools">
        <li *ngFor="let tool of tools" [ngClass]="{ active: isSelectedTool(tool.name) }">
            <a (click)="changeMark(tool.name)">
                <img src="assets/maps/icons/{{ tool.imageName }}.png" srcset="assets/maps/icons/{{ tool.imageName }}@2x.png 2x, assets/maps/icons/{{ tool.imageName }}@3x.png 3x">
                {{ tool.labelName }}
            </a>
        </li>
        <li [ngClass]="{ active: isSelectedTool('others') }">
            <a >
                <img src="assets/maps/icons/others.png" srcset="assets/maps/icons/others@2x.png 2x, assets/maps/icons/others@3x.png 3x">
                Outros
            </a>
        </li>
    </ul>
</div>