$title-grey: #f7f9fc;

.main-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.title-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 55%;
    background-image: url("../../../assets/login-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    .titles {
        margin-top: 30%;

        .separator {
            width: 293px;
            height: 5px;
            background-color: #ff4c4c;
        }

        h1 {
            margin-left: 18%;
            margin-bottom: 0;
            margin-top: 0;
            width: 328px;
            height: 55px;
            font-family: Lato;
            font-size: 60px;
            font-weight: 300;
            line-height: 0.28;
            text-align: center;
            color: $title-grey;
        }

        h1 span {
            font-weight: 900;
        }

        p {
            margin-left: 18%;
            width: 100%;
            font-family: Lato;
            text-align: left;
            color: $title-grey;

            &.description {
                font-size: 24px;
                line-height: 1.25;
                margin-bottom: 0;
                font-weight: 300;

                span {
                    font-weight: 500;
                }
            }

            &.sub-description {
                font-size: 18px;
                line-height: 1.67;
                margin-top: 5px;
                font-weight: 200;

                a {
                    color: white;
                }
            }
        }
    }

    footer {
        margin-left: 18%;
        margin-bottom: 5%;

        #sesi {
            height: 11px;
        }

        #safety {
            height: 12px;
            margin-left: 10px;
            margin-bottom: -2px;
        }
    }
}

.card-container {
    display: flex;
    justify-content: space-around;
    background-color: #e9eced;
    width: 45%;

    .card {
        padding: 44px !important;
        margin-top: 30%;
        width: 380px;
        height: 344px;
        background-color: white;

        .card-title {
            h2 {
                font-family: Lato;
                font-size: 30px;
                font-weight: 300;
                text-align: center;
                color: #3c3c3c;
                margin-bottom: 0;

                span {
                    font-weight: 900;
                }
            }

            h3 {
                font-family: Lato;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                color: #3c3c3c;
                margin-top: 5px;
                margin-bottom: 44px;
            }
        }

        .card-form {
            height: 55%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            md-input-container {
                width: 100%;
                margin-bottom: 5px;
                font-family: Lato;
                font-size: 12px;
                font-weight: bold;
                color: #3c3c3c;
            }

            .form-bottom {
                display: flex;
                justify-content: space-between;
                margin-bottom: 18px;

                button {
                    background-color: #ff4c4c;
                    opacity: 1;
                    color: white;
                    font-family: Lato;
                    font-size: 12px;
                }

                button[disabled] {
                    opacity: 0.5;
                }

                a {
                    font-family: Lato;
                    font-size: 10px;
                    font-weight: bold;
                    line-height: 1.4;
                    text-align: left;
                    color: #888888;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .main-container {
        display: block;
    }

    .card-container,
    .title-container {
        width: 100%;
    }
}
