<safety-card #companyDetails>
    <safety-card-header>
        <span>Dados da Empresa</span>
    </safety-card-header>
    <safety-card-content>
        <company-details [company]="company" (saved)="onCompanyDetailsSaved($event)"></company-details>
    </safety-card-content>
</safety-card>

<safety-card #responsableData>
    <safety-card-header>
        <span>Dados do responsável Pela Empresa</span>
    </safety-card-header>
    <safety-card-content>
        <responsable-data [company]="company"></responsable-data>
    </safety-card-content>
</safety-card>

<safety-card #responsableSstData>
    <safety-card-header>
        <span>Dados do responsável SST</span>
    </safety-card-header>
    <safety-card-content>
        <responsable-data [company]="company"></responsable-data>
    </safety-card-content>
</safety-card>

<safety-card #responsableContactData>
    <safety-card-header>
        <span>Dados Do Contato</span>
    </safety-card-header>
    <safety-card-content>
        <responsable-data [company]="company"></responsable-data>
    </safety-card-content>
</safety-card>

<safety-card #additionalInformation>
    <safety-card-header>
        <span>Informações Adicionais</span>
    </safety-card-header>
    <safety-card-content>
        <additional-information [company]="company"></additional-information>
    </safety-card-content>
</safety-card>