:host {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  justify-content: space-between;
  align-items: baseline;


  md-select, md-input-container {
    flex-grow: 1;
    flex-basis: 100%;
  }

  md-select:not(:first-of-type), md-input-container, md-slide-toggle, a {
    margin-left: 20px
  }

  a {
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
  }

  input:disabled {
    cursor: not-allowed;
  }
}