<div class="floor-navigation" [ngClass]="{ mini: mini }">
    <ul class="sections">
        <li *ngFor="let sector of construction.sectors" class="section">
            <a (click)="toggleSection(sector.name)">
                <span class="name">{{ sector.name }}</span>
                <safety-sector-summary [sector]="sector"></safety-sector-summary>
                <md-icon *ngIf="sector.floors.length > 0">keyboard_arrow_down</md-icon>
            </a>
            <ul class="floors" [ngClass]="{ hidden: isSectionHidden(sector.name) }">
                <li class="header" *ngIf="sector.floors.length > 0">
                    <span>Andares</span>
                    <span>Risco</span>
                </li>
                <li class="floor" *ngFor="let floor of sector.floors" [ngClass]="{ active: isSelectedFloor(floor.name) }"><a (click)="changeFloor(floor)">
                    <span class="name">{{ floor.acronym }}</span>
                    <summary 
                        alerts="{{ floor.alertsNumber() }}" 
                        cones="{{ floor.conesNumber() }}" 
                        workers="{{ floor.workersNumber() }}">
                    </summary>
                    <risk-graph [floor]="floor"></risk-graph>
                </a></li>
            </ul>
        </li>
        <li *ngIf="construction.sectors.length == 0" class="section">
            <span class="name">Não existem setores</span>
        </li>
    </ul>
</div>