:host {
    overflow: scroll;
}

.floor-navigation {

    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.05);

    .floors {
        max-height: 1600px;
        overflow: hidden;
        transition: all 1s ease;
        &.hidden {
            max-height: 0;
        }
    }

    &.mini {
        text-align: center !important;
        summary, risk-graph, md-icon, .header span:last-of-type {
            display: none;
        }
        .floor {
            font-size: 1em;
            a {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }
            .name {
                display: block;
                width: 100%;
            }
        }
    }

    li {
        display: block;
        background-color: white;
        &.section > a, li {
            border-bottom: 1px solid #e8e8e8;
        }
        .floor:last-of-type {
            border-bottom: none;
        }
        a {
            font-weight: 300;
            font-family: 'Lato', sans-serif;
            box-sizing: border-box;
            background-color: white;
            padding: 15px;
            cursor: pointer;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &.section > a {
            background-color: #f2f6f7;
        }
        &.floor a .name {
            font-size: 1.5em;
        }
        &.active {
            border-left: 2px solid #ff4c4c;
            a {
                padding-left: 13px;
            }
        }
        &.header {
            font-size: 0.7em;
            font-weight: 900;
            text-transform: uppercase;
            padding: 15px 15px;
            color: #999999;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}