<form [formGroup]="asoForm">

    <div class="grid-container">
        <div class="grid-column">

            <div class="grid-row" *ngIf="itemSelected != undefined">

                <div>
                    <div class="items-inline">
                        <my-date-picker formControlName="dateExe" name="realizationDate" required
                                        placeholder="Data de Realização"
                                        [(ngModel)]="asoItemsList.dateExe">
                        </my-date-picker>
                        <input-file (onFileSelect)="onFileSelect($event)"
                                    [accept]="'.doc,.docx,.png,.pdf'"></input-file>
                    </div>
                    <md-error *ngIf="asoForm.controls.dateExe.hasError('required')">Campo Obrigatório.</md-error>
                </div>

                <div class="grid-row-50" *ngIf="itemSelected > 1 && itemSelected <= 4">
                    <md-radio-group formControlName="isAble" required [(ngModel)]="asoItemsList.isAble">
                        <md-radio-button [value]="true">Apto</md-radio-button>
                        <md-radio-button [value]="false">Inapto</md-radio-button>
                    </md-radio-group>
                    <span *ngIf="testeBool">
                        <md-error *ngIf="asoForm.controls.isAble.hasError('required')">Campo Obrigatório.</md-error>
                    </span>
                </div>

                <div>
                    <my-date-picker formControlName="dateChange" required placeholder={{itemName}}
                                    [(ngModel)]="asoItemsList.dateChange"></my-date-picker>
                    <span *ngIf="testeBool">
                        <md-error *ngIf="asoForm.controls.dateChange.hasError('required')">Campo Obrigatório.
                        </md-error>
                    </span>
                </div>

                <div class="grid-row-25">
                    <a class="action" (click)="openDialog()">excluir</a>
                </div>
            </div>
        </div>
    </div>
</form>