<safety-card-content>
    <form [formGroup]="myForm" id="formAso">
        <div class="position">
            <div class="vintep"></div>
            <div class="vintep"></div>
            <div class="vintep"></div>
            <div class="vintep"></div>
            <div class="vintep"><my-date-picker style="min-width: 100%;" name="realizationDate" [options]="myDatePickerOptions" placeholder="Data de Realização"></my-date-picker></div>       
        </div>
        <div>
            
        </div>
    </form>
</safety-card-content>