<div class="aling-div">
    <div class="itens-data">
        <my-date-picker name="realizationDate" [options]="myDatePickerOptions" placeholder="Data de Realização"></my-date-picker>
        <input-file (onFileSelect)="onFileSelect($event)" [accept]="'.doc,.docx,.png,.pdf'"></input-file>
    </div>
    <div *ngIf="itemSelected > 1 && itemSelected <= 4" >
        <md-radio-button value="true">Apto</md-radio-button>
        <md-radio-button value="false">Inapto</md-radio-button>
    </div>
    <div>
         <my-date-picker name="realizationDate" [options]="myDatePickerOptions" placeholder= {{itemName}}  ></my-date-picker>
    </div>
    <div>
        <a class="action" (click)="removeMyself()">excluir</a>
    </div>
</div>