<span>1 - Identificação do sensor</span>
<!--input mdInput placeholder="TÍTULO">
<input mdInput placeholder="ID (EX-0281)" -->
<div fxLayout="column" fxLayoutAlign="space-around center">
    <md-input-container class="no-underline mapping" floatPlaceholder="never">
        <md-placeholder >        
            <md-hint>Título</md-hint>
        </md-placeholder>
        <input mdInput [(ngModel)]="title">
    </md-input-container>
    <md-input-container class="no-underline mapping" floatPlaceholder="never">
        <md-placeholder >        
            <md-hint>ID <sup>(EX-0281)</sup></md-hint>
        </md-placeholder>
        <input mdInput [(ngModel)]="id">
    </md-input-container>
</div>