<div class="body-content">
    <md-tab-group disableRipple>
        <md-tab label="dados da obra">
            <construction-form [construction]="service.construction" (updatedConstruction)="onConstructionUpdated($event)"></construction-form>
        </md-tab>
        <!--<md-tab label="cronograma da obra">
             <construction-site-schedule></construction-site-schedule> 
        </md-tab>
        <md-tab label="cadastro SST">
             <safety-in-work-data></safety-in-work-data> 
        </md-tab>-->
    </md-tab-group>
</div>
